<div
  class="fixed top-0 left-0 z-[-2] w-screen min-h-screen bg-gray-700 bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"
>
  <h1
    class="flex justify-center items-center text-5xl text-white font-extrabold pt-8 mb-14"
  >Bienvenido al e-commerce</h1>
  <div class="flex justify-center flex-col items-center">
    <h2 class="text-white text-2xl">Inicia sesión o regístrate para ingresar a
      la tienda</h2>
    <br /><br />
    <button
      class="flex items-center justify-center px-4 h-10 text-base font-medium border rounded-lg bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-900 hover:text-white"
    ><a href="/register">Registrar usuario</a></button>
    <br />
    <button
      class="flex items-center justify-center px-4 h-10 text-base font-medium border rounded-lg bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-900 hover:text-white"
    ><a href="/login">Iniciar sesión</a></button>
  </div>
</div>